.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/banner-bg.svg);
  background-size: cover;
}

.banner-title {
  margin-bottom: 0.5em;

  font-family: $headings-font-family;
  font-size: 150px;
  font-weight: 800;
  text-align: center;
}

.banner-subtitle {
  font-size: 22px;
  text-align: center;
}
