.container {
  padding: 0 $gutters;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 $gutters;
}

@mixin cells($label) {
  @for $i from 1 through 12 {
    .col#{$label}-#{$i} {
      grid-column-end: span $i;
    }
  }

  @for $i from 2 through 11 {
    .start#{$label}-#{$i} {
      grid-column-start: $i;
    }
  }
}

@include cells("");

@each $label, $breakpoint in $breakpoints {
  @include breakpoint($label) {
    @include cells(-$label);
  }
}
